body {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: rockwell, arial, sans-serif;
}
fieldset.head {
	position: relative;
	align:center;
    width: 800px;
    height: 50px;
    top: 130px;
	font-family: rockwell, arial, sans-serif;
}
fieldset.book {
	position: relative;
    width: 800px;
    height: 200px;
    top: 170px;
	font-family: rockwell, arial, sans-serif;
}
label.field {
	text-alighn: right;
	width: 200px;
	float: left;
	front-weight: bold;
	font-family: rockwell, arial, sans-serif;
}
input.textbox-300 {
	width: 300px;
	float: left;
	font-family: rockwell, arial, sans-serif;
}
floatset p {
	clear: both;
	padding: 5px;
	font-family: rockwell, arial, sans-serif;
}
.textboxclass {
	height: 100px;
	width: 800px;
	overflow: scroll;
	font-family: rockwell, arial, sans-serif;
}
.form textarea {
    height: 300px;
    width: 500px;
    overflow: scroll;
    font-family: rockwell, arial, sans-serif;
}
table {
    width: 100%;
    display:block;
    font-family: rockwell, arial, sans-serif;
}
thead {
    display: inline-block;
    width: 100%;
    height: 40px;
    font-family: rockwell, arial, sans-serif;
}
tbody {
    height: 200px;
    display: inline-block;
    width: 100%;
    overflow: scroll;
    font-family: rockwell, arial, sans-serif;
}
.tg {
	border-collapse:collapse;
	border-spacing:0;
	border-color:#aaa;
	font-family: rockwell, arial, sans-serif;
}
.tg td {
	padding:3px 20px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
	border-color:#aaa;
	color:#333;
	background-color:#fff;
	font-size:14px;
	font-family: rockwell, arial, sans-serif;
}
.tg th {
	padding:5px 20px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
	border-color:#aaa;
	color:#fff;
	background-color:#f38630;
	font-size:14px;
	font-weight:normal;
	font-family: rockwell, arial, sans-serif;
}
.tg .tg-j10z{
	background-color:#E64040;
	font-size:24px;
	font-family: rockwell, arial, sans-serif;
}
.tg .tg-a1rn{
	background-color:#ffffc7;
	font-family: rockwell, arial, sans-serif;
}
.tg .tg-bdyw{	
	background-color:#ffffc7;
	font-size:24px;
	font-family: rockwell, arial, sans-serif;
}
